<h1>Items</h2>

<% if @items.empty? %>
   <b>No items in store</b>
<% else %>

<table class="table table-striped">
    <tr>
      <th> item id </th>
      <th> Name </th>
      <th> Price </th>
      <th> Created_at </th>
      <th></th>
      <th> Голосовать</th>
    </tr>


<% @items.each do |i| %>
     <tr>
       <td><%= i.id %></td>
       <td>
        <%= image_tag i.avatar.url, width: '100px', height: '100px' %>
          <%= link_to i.name, item_path(i) %>
       </td>
       <td><%= i.price %></td>
       <td><%= i.created_at %></td>
       <td><%= link_to "Удалить", i, method: :delete, data: {confirm: "Точно удалить?"} %></td>
       <td>Рейтинг: <%= i.votes_count %><%= link_to "+", upvote_item_path(i) %></td>
     </tr>
   <% end %>
<% end %>
