<!DOCTYPE html>
<html>
  <head>
    <title>MyStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="adminPanel">
       ADMIN  Useful links here...
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Зарегистрироватся", new_use_registration_path %> or
    <%= link_to "Вход", new_use_session_path %> /
    <%= link_to "Выход", destroy_use_session_path, :method => :delete %>
    <%= yield %>
  </body>
</html>
